.page-use{
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  letter-spacing: 1px;
  p{
    margin-bottom: 0;
  }
  .list{
    box-sizing: border-box;
    padding: 20px;
    background-color: #E3F2FC;
    border-radius: 4px;
    margin-bottom: 20px;
    .title{
      font-size: 20px;
    }
    .info{
      padding:20px 0;
      font-size: 16px;
    }
    .little{
      font-size: 13px;
      padding:4px 0;
      font-style: italic;
      color: #888;
      i{
        color: #f00;
      }
    }
  }
}
